// <МИКСИНЫ>==============================================
@import "mixins";
// </МИКСИНЫ>==============================================

// <ШРИФТЫ>===============================================

// <Подключаем шрифты>====================================
// <&display=swap&subset=cyryllic-ext
@import "fonts";
// </Подключаем шрифты>====================================
 
// <Иконочные шрифты>====================================
// @import "icons";
// </Иконочные шрифты>====================================

// <Шрифт по умолчанию>====================================
$fontFamily: "";
// </Шрифт по умолчанию>====================================

// </ШРИФТЫ>===============================================

// <ПЕРЕМЕННЫЕ>===============================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md2: 767.98;
$md2: 479.98;
// <ПЕРЕМЕННЫЕ>===============================================
