.works {
}

.works__item {
   display: flex;
   align-items: flex-start;
}

.works__image {
   flex: 0 0 246px;
   border-radius: 6px;
   min-height: 180px;
}

.works__body {
}

.works__title {
}

.works__info {
}

.works__year {
}

.works__category {
}

.works__text {
}
